@import url("../styles/Fonts.css");

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smoother transition */
    height: 60px; /* Fixed height */
}

.navbar.collapsed {
    width: 50%; /* Smaller width for collapsed navbar */
    padding: 10px 10px; /* Reduced padding */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    transition: opacity 0.8s ease-out, visibility 0.8s ease-out;
}

.navLinks a {
    color: #fff;
    font-family: "K2D", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navLinks a:hover {
    background-color: #575757;
}

.iconButtons {
    display: flex;
    gap: 10px;
    transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}

.iconBtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.1s;
}

.iconBtn:hover {
    background-color: #575757;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}