.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  margin-left: 2%;
  height: auto;
  width: auto;
}

.logoImage {
  height: 1rem;
  width: auto;
}

.navLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

.navLinks a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 500;
  width: auto;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

.navLinks a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--text);
  transition: width 0.3s ease;
}

.navLinks a:hover::after {
  width: 100%;
}

.iconContainer {
  position: absolute;
  right: 2%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: auto;
  height: auto;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text);
  width: auto;
  height: auto;
}