/* ProjectsCard.module.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 580px;
  height: 608px;
  background: #1a1a1a00;
  border: solid 4px #ffffff;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.imagePlaceholder {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 1.5rem;
  overflow: hidden;
}

.imagePlaceholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  border: 4px solid #ffffff6e;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleWrapper img {
  width: 1.75rem;
  height: 1.75rem;
}

.githubLink {
  color: inherit;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.githubLink:hover {
  color: #646cff;
}

.texts h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

.texts p {
  color: #cccccc;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.tagsWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  background: #262626;
  color: #e5e5e5;
  padding: 0.2rem 1rem;
  border-radius: 24px;
  font-size: 0.875rem;
}

.readMore {
  margin-left: auto;
  background: white;
  color: black;
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 24px;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: 4px;
}

.readMore:hover {
  background: #e5e5e5;
}

/* .arrowIcon {
  width: 2px;
  height: auto;
} */